@tailwind base;
@tailwind components;
@tailwind utilities;

/* .py-2\.5 {
  padding-top: 0.825rem !important ;
  padding-bottom: 0.825rem !important;
} */

input:focus {
  outline: none !important;
  border: "#ebebeb";
}

.numOfGuest {
  position: relative;
  width: 80%;
}



.testimonial-pagination .swiper-pagination-bullet {
  background: #ff4838;
  padding: 7px;
  opacity: unset;
}

.testimonial-pagination .swiper-pagination-bullet-active {
  background: #fff;
}

.testimonial-slider-two .slider-item {
  padding-bottom: 30px;
}

.bg-opacity {

background-color: rgba(0,0,0,0.65);


}


.roundSlider{
  /* border: radius left 50%; */
  border-radius: 9em 1em 1em 9em;
/* 
  border-top-left-radius: 17% !important;
  border-bottom-left-radius: 17% !important; */
}





/* @media (max-width: 1200px) {

  .sign-me-res{

left:700px !important;


  }
  


} */


@media (min-width: 1100px) and (max-width: 1200px) {

  .sign-me-res{
position: relative !important;
    left:555px !important;
    
    
      }


 
}



@media (min-width: 955px) and (max-width: 1100px) {

  .sign-me-res{
position: relative !important;
    left:400px !important;
    
    
      }


 
}




@media (min-width: 1200px) and (max-width: 1350px) {

  .sign-me-res{
position: relative !important;
    left:555px !important;
    
    
      }
    }


 
    
@media (min-width: 1350px) and (max-width: 1750px) {

  .sign-me-res{
position: relative !important;
    left:722px !important;
    
    
      }
    }





@media (min-width: 768px) and (max-width: 987px) {

  .sign-me-res{

    position: relative !important;
    left:666px !important;
    
    
      }


 
}


.nav-left{
position:  relative !important;
left:222px !important;


}