@tailwind base;
@tailwind components;
@tailwind utilities;

/* .py-2\.5 {
  padding-top: 0.825rem !important ;
  padding-bottom: 0.825rem !important;
} */

input:focus {
  outline: none !important;
  border: "#ebebeb";
}

.numOfGuest {
  position: relative;
  width: 80%;
}



.testimonial-pagination .swiper-pagination-bullet {
  background: #ff4838;
  padding: 7px;
  opacity: unset;
}

.testimonial-pagination .swiper-pagination-bullet-active {
  background: #fff;
}

.testimonial-slider-two .slider-item {
  padding-bottom: 30px;
}

.bg-opacity {

background-color: rgba(0,0,0,0.65);


}


.roundSlider{
  /* border: radius left 50%; */
  border-radius: 9em 1em 1em 9em;
/* 
  border-top-left-radius: 17% !important;
  border-bottom-left-radius: 17% !important; */
}